# -*- mode: ruby; -*-
#
# Configuration de la base de données de Backend
#
# Generated automatically with "rake db:configure" command at 21/05/2013.
#

case ENV['RACK_ENV']
  when 'development', nil
    DB = Sequel.mysql2(
    '{{ laclasse_suiviperso_database.name }}',
    :host=>'{{ laclasse_suiviperso_database.host }}',
    :user=>'{{ laclasse_suiviperso_database.user }}',
    :password=>'{{ laclasse_suiviperso_database.password }}',
      :charset=>'utf8')
when 'test'
  DB = Sequel.mysql2(
    'suivi',
    :host=>'127.0.0.1',
    :user=>'root',
    :password=>'',
    :charset=>'utf8')
when 'production'
  DB = Sequel.mysql2(
    '{{ laclasse_suiviperso_database.name }}',
    :host=>'{{ laclasse_suiviperso_database.host }}',
    :user=>'{{ laclasse_suiviperso_database.user }}',
    :password=>'{{ laclasse_suiviperso_database.password }}',
    :charset=>'utf8')
end

Sequel.extension(:pagination)
Sequel.extension(:migration)

#Uncomment this if you want to log all DB queries
#DB.loggers << Logger.new($stdout)

