# -*- encoding: utf-8 -*-

{% import 'macros/url.j2' as url with context %}

#
# Fichier de configuration de l'application
#

# development ou production
ENV[ 'RACK_ENV' ]  = '{{ laclasse_environment }}'

# niveau de log de l'application
LOG_LEVEL = Logger::INFO

# Chemin absolu de l'application sur le serveur
APP_ROOT = File.expand_path(File.join(File.dirname(__FILE__), '..'))

# Mapping HAProxy de l'application, ex : '/v3/docs'
APP_PATH = '{{ laclasse_services.suiviperso.path | regex_replace('\/+$', '') }}'

# App version
APP_VERSION = '{{ laclasse_suiviperso_version }}'

# Langage par défaut de l'application
LANG = 'fr'

# Clé de hachage pour les cookies Rack
SESSION_KEY = '{{ [ ansible_default_ipv4.macaddress, "fiWyHennyiqsdqd", ansible_date_time.year, ansible_date_time.month, ] | join("-") | sha1 }}'

# Durée de la session en seconde (défaut 3600)
SESSION_TIME = 3600

# Url de l'ENT
URL_ENT = '{{ laclasse_main_url }}'

# nom du serveur d'annuaire ENT (xml-aaf académiques)
SERVICE_ANNUAIRE_ENT = '{{ laclasse_annuaire_aaf_url }}'

DOCS = {
  url: '{{ url.trim_trailing_slashes(url.dedup_slashes(laclasse_main_url, "/", laclasse_services.docs.path)) }}' ,
  api_key: '{{laclasse_services.docs.api_key}}',
  app_id: '{{laclasse_services.docs.app_id}}'
}

#
# Configuration du service d'annuaire de l'ENT
#
ANNUAIRE = {
  api_key:    "{{ laclasse_services.suiviperso.api_key }}",
  app_id:     '{{ laclasse_services.suiviperso.app_id }}',
  api_mode:   '{{ laclasse_services.suiviperso.api_mode }}'
}
